<div *ngIf="playing" class="outer-container" [style.padding]="windowPadding + 'px'" [style.background-color]="backgroundColor">
    <div class="inner-container">
        <app-score class="score" title="Score" score={{score}}></app-score>
        <app-lives class="lives" width={{livesWidth}} numberOfLives={{lives}}></app-lives>
        <app-player width={{playerSystem.playerWidth}} offset={{playerSystem.playerOffset}} (spawnBullet)="spawnBullet($event)"></app-player>
        <app-bullet 
            *ngFor="let bullet of bulletSystem.bullets" 
            width={{bulletSystem.bulletWidth}} 
            height={{bulletSystem.bulletHeight}} 
            x={{bullet.x}} 
            y={{bullet.y}}></app-bullet>
        <app-bullet 
            *ngFor="let bullet of bulletSystem.enemyBullets" 
            width={{bulletSystem.enemyBulletWidth}} 
            height={{bulletSystem.enemyBulletHeight}}
            x={{bullet.x}} 
            y={{bullet.y}}></app-bullet>
        <div *ngFor="let enemy of enemySystem.enemies">
            <app-enemy *ngIf="enemy.alive" imagePath={{enemy.imagePath}} width={{enemySystem.enemyWidth}} x={{enemy.x}} y={{enemy.y}}></app-enemy>
        </div>
    </div>
</div>

<div *ngIf="!playing">
    <app-score class="score" title="Score" score={{score}}></app-score>    
    <app-score class="highscore" title="High Score" [score]="(highscore$ | async)?.score"></app-score>
    <div class="play-button" (click)="startGame();"> Play </div>
    <div class="created-by">Created by <a class="link" href="http://www.brunocarvalhal.com">Bruno Carvalhal</a></div>
</div>

<app-highscore-input *ngIf="showHighscoreInput" (highscoreEntered)="uploadScoreForPlayer($event)"></app-highscore-input>