.highscore-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 20vw;
    background-color: #00FF41;
    color: #1A1A1A;
}

.highscore-input-title{
    font-size: 4vw;
    text-align: center;
}

.highscore-input-field {
        text-align: center;
    width: 35vw;
    height: 4vw;
    display: block;
    margin: 2vw auto;
    font-size: 3vw;
    font-family: monospace;
}

.highscore-input-upload-button{
    margin: auto;
    width: 20vw;
    height: 4vw;
    background-color: #1A1A1A;
    color: white;
    font-size: 3vw;
    text-align: center;
}

.highscore-input-upload-button:hover{
    background-color: rgba(26, 26, 26, 0.8);
    cursor: pointer;
}